html, body {
  background-color: lightblue;
  font-family: Helvetica;
  margin: 0;
  height: 100%;
  color: rgb(48, 48, 48);
  font-size: 25px;
}
h1 {
  color: black;
}
body {
  display: table;
  width: 100%;
}
body > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
div {
  padding: 10px;
}

